<tr id="event_<%= event.id%>">
  <td><%= event.title %></td>
  <td><%= event.start_date %></td>
  <td><%= event.end_date %></td>
  <td><%= link_to 'Show', admins_event_path(event) %></td>
  <td><%= link_to 'Edit', edit_admins_event_path(event), :remote => true %></td>
  <td><%= link_to 'Destroy', admins_event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
</tr>