<%= form_for  [:admins, @event], :remote => true do |f| %>
  <div class="modal-body">
    <div class="error-container"></div>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :start_date %>
      <span class="fa fa-calendar errspan"></span>
      <%= f.text_field :start_date, class: "form-control datepicker feed-back" %>
    </div>
    <div class="field">
      <%= f.label :end_date %>
      <span class="fa fa-calendar errspan"></span>
      <%= f.text_field :end_date, class: "form-control datepicker feed-back" %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Save Event", class: "btn btn-primary" %>
  </div>
<% end %>
<script type="text/javascript">
  $(".datepicker").datepicker({
    format: "yyyy-mm-dd"
  });
</script>