<%= form_for  [:admins, @event], :remote => true do |f| %>
  <div class="modal-body">
    <div class="error-container"></div>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :start_date %>
      <%= f.datetime_select :start_date, ampm: true, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :end_date %>
      <%= f.datetime_select :end_date, ampm: true,class: "form-control" %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Save Event", class: "btn btn-primary" %>
  </div>
<% end %>